
app.py
website/__pycache__/__init__.cpython-311.pyc
website/__pycache__/auth.cpython-311.pyc
website/__pycache__/models.cpython-311.pyc
website/__pycache__/task_tracker.cpython-311.pyc
website/__pycache__/tasks.cpython-311.pyc
website/__pycache__/views.cpython-311.pyc
app.py
instance/database.db
*.db
website/__init__.py
