{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br>
<h1 align="center">Home</h1>
<div align="center">
<p> Welcome to the home page of DavidosB's Habit Tracker! </p>
</div>
<div align="center">
    <a class="btn btn-primary btn-lg" href="/tasks" role="button">
        <span class="icon is-small">
            <i class="fas fa-tasks" aria-hidden="true"></i>
        </span>Tasks/Habits
    </a>
    
    <a class="btn btn-primary btn-lg" href="/notes" role="button">
        <span class="icon is-small">
            <i class="fas fa-sticky-note" aria-hidden="true"></i>
        </span>Notes
    </a>
</div>
{% endblock %}