{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br>
<h1 align="center"  class="title is-1">
    <span class="icon is-small">
        <i class="fas fa-home" aria-hidden="true"></i>
    </span> &nbsp;Home
</h1>
<br/>
<div align="center">
<h5 class="title is-4 is-spaced"> Welcome to the home page of David's Habit Tracker! </h5>
</div>

<br/>

<div align="center">
    <h5 class="title is-4 is-spaced"> Quick introduction: </h5>
    <p class="subtitle">There are four tabs in total that can be accessed using the buttons above or the navbar in the top.</p>
    <p class="subtitle">The website itself has two main functions, with the Task Tracker being the main one:</p>
</div>

<br/>
<br/>

<div class="tile is-parent">
    <div class="tile is-child notification is-link">
        <h3 class="title is-3"> 
            <span class="icon is-small">
                <i class="fas fa-tasks" aria-hidden="true"></i>
            </span>
            &nbsp;
            <a href="{{ url_for('views.task') }}"> Task Tracker </a>
        </h3>
        <p> Track daily, weekly or monthly tasks. </p>
        <p> Earn XP to level up & claim rewards for each Level-Up </p>
    </div>
    &nbsp;
    &nbsp;
    <div class="tile is-child notification is-link">
        <h3 class="title is-3"> 
            <span class="icon is-small">
                <i class="fas fa-sticky-note" aria-hidden="true"></i>
            </span>
            &nbsp;
            <a href="{{ url_for('views.notes') }}"> Notes </a>
        </h3>
        <p> Add Notes or Reminders to a list</p>
        <p> Sorted by Date added </p>
    </div>
</div>

<br/>
<br/>

<div align="center">
    <br/>
    <p class="subtitle">The other functions are related to the Task Tracker functionality:</p>
</div>

<br/>
<br/>
<br/>

<div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <h3 class="title is-3"> 
            <span class="icon is-small">
                <i class="fas fa-gift" aria-hidden="true"></i>
            </span>
            &nbsp;
            <a href="{{ url_for('views.rewards') }}"> Reward Center </a> 
        </h3>
        <p> Add custom rewards & claim them at every Level-Up.</p>
        <p>&nbsp;</p>
        <p> You can also see the Reward History, with each Reward being listed along with the date it was added</p>
    </div>
    &nbsp;
    &nbsp;
    <div class="tile is-child notification is-success">
        <h3 class="title is-3"> 
            <span class="icon is-small">
                <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            &nbsp;
            <a href="{{ url_for('views.profile') }}"> Profile </a>
        </h3>
        <p> Displays various information about the User </p>
        <p> This includes current and total XP, the number of completed tasks and the current level. </p>
        <p> You can also set custom XP rewards for all task types and a custom XP requirement for each level there</p>
    </div>
</div>

{% endblock %}