{% extends "base.html" %} {% block title %}Tasks{% endblock %}

{% block content %}

<h1 align="center">Your Tasks</h1>
<br/>
<div align="center">
<ul class="list-group list-group-flush">
    {% for task in user.tasks %}
        <li class="list-group-item">
            <input type="checkbox" name="done" {% if task.is_done %} checked {%endif%} disabled onchange="this.form.submit()">
            <span {% if task.is_done %} style="text-decoration: line-through" {% endif %}>{{ task.data }}</span>
            <a href="{{ url_for('views.check_tasks', taskId = task.id)}}">Done</a>
            <a href="{{ url_for('views.edit_tasks', taskId = task.id)}}">Edit</a>
            <a href="{{ url_for('views.delete_tasks', taskId = task.id)}}">Delete</a>
        </li>
    {% endfor %}
</ul>
<br/>
    <form action="{{ url_for('views.add_task') }}" method="post">
        <input type="text" name='task'>
        <button type="submit" class="btn btn-success">Add task</button>
    </form>
</div>

{% endblock %}