{% extends "base.html" %} {% block title %}Tasks{% endblock %}

{% block content %}

<br/>

<div align="center" class="page-header">
    <div>
        <span>
            <h1><i class="fas fa-tasks" aria-hidden="true"></i> Your Tasks</h1>
        </span>
    </div>
</div>
<br/>
<div align="center">
<h2><i class="fas fa-sun" aria-hidden="true"></i> Daily Tasks</h2>
<ul class="list-group list-group-flush">
    {% for task in user.tasks %}
    {% if task.xp == user.dailyXpValue %}
        <li class="list-group-item">
            <input type="checkbox" name="done" {% if task.is_done %} checked {%endif%} disabled onchange="this.form.submit()">
            <span {% if task.is_done %} style="text-decoration: line-through" {% endif %}>{{ task.data }}</span>
            <a href="{{ url_for('views.check_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </a>
            </button>
            <a href="{{ url_for('views.edit_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-warning">
                    <i class="fas fa-edit"></i> 
                </button>
            </a>
            </button>
            <a href="{{ url_for('views.delete_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i> 
                </button>
            </a>
            </button>
        </li>
    {% endif %}
    {% endfor %}
</ul>
<br/>
    <form action="{{ url_for('views.add_task', taskXp = user.dailyXpValue)}}" method="post">
        <input type="text" name='task' placeholder="Enter task name here" style="height: 34px">
        <button type="submit" class="btn btn-success">
            <span class="icon is-small">
                <i class="fas fa-plus" aria-hidden="true"></i>
            </span>Add task
        </button>
    </form>
</div>

<br/>
<br/>

<div align="center">
    <h2><i class="fas fa-calendar-week" aria-hidden="true"></i> Weekly Tasks</h2>
    <ul class="list-group list-group-flush">
        {% for task in user.tasks %}
        {% if task.xp == user.weeklyXpValue %}
        <li class="list-group-item">
            <input type="checkbox" name="done" {% if task.is_done %} checked {%endif%} disabled onchange="this.form.submit()">
            <span {% if task.is_done %} style="text-decoration: line-through" {% endif %}>{{ task.data }}</span>
            <a href="{{ url_for('views.check_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </a>
            </button>
            <a href="{{ url_for('views.edit_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-warning">
                    <i class="fas fa-edit"></i> 
                </button>
            </a>
            </button>
            <a href="{{ url_for('views.delete_tasks', taskId = task.id)}}">
                <button type="button" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i> 
                </button>
            </a>
            </button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br/>
        <form action="{{ url_for('views.add_task', taskXp = user.weeklyXpValue) }}" method="post">
            <input type="text" name='task' placeholder="Enter task name here" style="height: 34px">
            <button type="submit" class="btn btn-success">
                <span class="icon is-small">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </span>Add task
            </button>
        </form>
    </div>

<br/>
<br/>

<div align="center">
    <h2><i class="fas fa-calendar-check" aria-hidden="true"></i> Monthly Tasks</h2>
    <ul class="list-group list-group-flush">
        {% for task in user.tasks %}
        {% if task.xp == user.monthlyXpValue %}
            <li class="list-group-item">
                <input type="checkbox" name="done" {% if task.is_done %} checked {%endif%} disabled onchange="this.form.submit()">
                <span {% if task.is_done %} style="text-decoration: line-through" {% endif %}>{{ task.data }}</span>
                <a href="{{ url_for('views.check_tasks', taskId = task.id)}}">
                    <button type="button" class="btn btn-sm btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                </a>
                </button>
                <a href="{{ url_for('views.edit_tasks', taskId = task.id)}}">
                    <button type="button" class="btn btn-sm btn-warning">
                        <i class="fas fa-edit"></i> 
                    </button>
                </a>
                </button>
                <a href="{{ url_for('views.delete_tasks', taskId = task.id)}}">
                    <button type="button" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i> 
                    </button>
                </a>
                </button>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br/>
        <form action="{{ url_for('views.add_task', taskXp = user.monthlyXpValue) }}" method="post">
            <input type="text" name='task' placeholder="Enter task name here" style="height: 34px">
            <button type="submit" class="btn btn-success">
                <span class="icon is-small">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </span>Add task
            </button>
        </form>
    </div>

<br/>
<br/>

<div align="center">
    <h1>Current XP</h1>
    <h2>{{ user.currentXp }}/{{ user.levelRequirement }}</h2>
    <br/>
    <h4> Level progress:</h4>
    <h4> {{user.level_progress}} </h4>
    <br/>
    <progress value="{{user.currentXp}}" max="{{user.levelRequirement}}" style="width: 50%; height: 20px;" class="custom-progress"></progress>
    <h4>Level {{ current_user.level }}</h4>
</div>

<br/>

<div align="center">
    <h1>Total XP</h1>
    <h2>{{ user.totalXp }}</h2>
</div>

<br/>

{% endblock %}